/* font-family: 'Acme', sans-serif;
font-family: 'Fleur De Leah', cursive;
font-family: 'Source Sans Pro', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
}

.nav_container {
  background-color: #20244d;
}

.nav__links__wrapper li {
  display: inline-block;
  list-style: none;
}

.nav__links__wrapper li a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.nav__icon {
  color: #fff;
  display: none;
  padding: 10px;
  cursor: pointer;
}

.logo {
  color: rgba(14, 158, 81);
  font-size: 2rem;
  margin: 0px 10px 0;
}

.login__btn {
  margin-right: 20px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid yellow;
  padding: 5px 30px;
  color: #fff;
  text-decoration: none;
}
.login__btn:hover {
  background-color: #97b310;
}

/* Header */
.header_container {
  background: linear-gradient(
      to bottom,
      rgba(15, 26, 87, 0.89),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2014/05/02/23/52/castle-336498_1280.jpg");
  height: 100vh;
  background-size: cover;
}

.header__wrapper {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.form__container {
  width: 40%;
  background-color: rgba(7, 1, 1, 0.39);
  height: 100%;
  border: 1px solid green;
  border-radius: 10px;
  margin-top: 80px;
  padding: 20px;
  height: 500px;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form__container h1 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 20px 0px;
}

input[type="text"] {
  border-radius: 10px;
  background: transparent;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid rgb(209, 209, 176);
  width: 100%;
  color: rgb(28, 189, 41);
  font-size: 1.2rem;
}

input[type="text"]:focus {
  outline: none;
}

input[type="button"] {
  width: 100%;
  background: transparent;
  outline: none;
  color: #fff;
  border-radius: 10px;
  border: 2px solid rgb(0, 255, 98);
  padding: 10px;
  margin: 20px 0;
}
input[type="button"]:hover {
  background-color: rgb(2, 114, 28);
  cursor: pointer;
}

.header__text__wrapper {
  flex: 1;
  margin: 10px;
  color: #fff;
  margin: auto;
}

.header__text__wrapper h1 {
  font-size: 5rem;
  color: yellow;
}

.header__text__wrapper p {
  color: wheat;
  width: 600px;
  font-size: 25px;
}

.register {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid green;
  border-radius: 10px;
  width: 300px;
  margin-top: 30px;
}
.register:hover {
  background: green;
  cursor: pointer;
}

/* Courses */
.course__container {
  width: 100%;
  margin: 0 auto;
}
.course__row {
  display: flex;
  justify-content: space-around;
}
.course__col {
  flex-basis: 30%;
  height: 100%;
  position: relative;
  margin-bottom: 20px;
  margin-top: 30px;
}
.course__col img {
  width: 100%;
  display: block;
}
.course__overlay {
  position: absolute;
  top: 0;
  background: rgb(0, 255, 98, 0.5);
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  backdrop-filter: blur(5);
}
.apply {
  margin-top: 20px;
  background: red;
  border-radius: 5px;
  color: #fff;
  font-weight: 200;
  padding: 5px 30px;
  border: 1px solid yellow;
  text-decoration: none;
}
.course__overlay:hover {
  opacity: 1;
}
.course__overlay > * {
  transform: translateY(40px);
}
.course__overlay:hover > * {
  transform: translateY(0px);
  transition: 0.5s;
}
.fixed_bg_container {
  background: linear-gradient(
      to bottom,
      rgba(15, 26, 87, 0.89),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2013/04/19/01/15/university-105709_1280.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fixed_bg_container2 {
  background: linear-gradient(
      to bottom,
      rgba(15, 26, 87, 0.89),
      rgba(59, 9, 47, 0.73)
    ),
    url("https://cdn.pixabay.com/photo/2015/07/17/22/43/student-849821_960_720.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.paralleogram {
  width: 90%;
  background-color: #32557f;
  height: 20px;
  margin: auto;
  border-bottom: 20px;
  transform: skew(50deg);
}

/* Deam Message */
.dean__msg__container {
  width: 90%;
  margin: auto;
}
.dean__msg__row {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}
.dean__msg__col h1 {
  font-size: 3em;
  padding: 20px;
}

.dean__img_container {
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dean__img_container img {
  border-radius: 50%;
  width: 300px;
}
.dean__list__container {
  display: flex;
  flex-direction: column;
}
.dean__list__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dean__msg__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dean__paragraph {
  width: 800px;
  font-size: 20px;
  padding: 10px;
}
.far {
  color: red;
  font-size: 1.2rem;
  padding: 10px;
}
.dean__sign {
  font-family: "Fleur De Leah", cursive;
  font-size: 3rem;
  color: rgb(153, 51, 51);
}

/* Blog */
/* .blog__container {
  background-color: red;
} */
.blog__row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog__col {
  flex-basis: 28%;
  margin: 10px;
  position: relative;
}
.blog__col img {
  width: 100%;
}
.blog__overlay {
  background: green;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 30px;
  height: 30px;
  text-align: center;
  border-top-right-radius: 40px;
  color: #fff;
}
.blog__title {
  text-align: left;
}
.blog__container__title {
  text-align: center;
  font-size: 3rem;
}

.footer__wrapper {
  background-color: #021407;
  width: 100%;
  margin: auto;
}
.footer__col {
  display: flex;
  justify-content: space-around;
  min-height: 60%;
  padding: 30px 0px;
}
.footer__col li {
  list-style: none;
  padding: 10px;
}
.footer__col li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.footer__title {
  color: rgb(87, 143, 99);
}

.footer__links li a:hover {
  color: yellow;
}
/* Media query */
@media (max-width: 576px) {
  .nav__links__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    height: 100%;
    width: 200px;
  }
  .nav__links__wrapper li {
    display: block;
    padding-top: 10px;
  }
  .nav__icon {
    display: block;
  }
  .login__btn {
    display: none;
  }
  /* header */
  .header__wrapper {
    flex-direction: column;
    display: flex;
  }
  .form__container {
    display: none;
  }
  .header__text__wrapper p {
    width: 100%;
  }
  .header__text__wrapper h1 {
    font-size: 3.3rem;
  }
  /* Courses */
  .course__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .course__col {
    padding: 10px;
  }
  .course__col p {
    width: 90%;
  }
  /* Dean */
  .dean__msg__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dean__img_container {
    margin-left: 120px;
  }
  .dean__img_container img {
    width: 100%;
  }
  .dean__msg__col h1 {
    font-size: 2.2rem;
  }
  .dean__paragraph {
    width: 100%;
  }
  .dean__list__items {
    padding: 10px;
  }
  /* Blog */
  .blog__row {
    flex-direction: column;
  }
  /* Footer */
  .footer__col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
  }
}
